Repository blockchain/blockchain-wallet-v4-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

.lintstagedrc.json:

{
  "packages/*/src/**/*.{js,ts,tsx}": ["eslint --fix", "yarn jest --bail --findRelatedTests --passWithNoTests"],
  "packages/*/src/**/*.{js,tsx}": ["stylelint './packages/*/src/**/*.{js,tsx}'"],
  "packages/**/!(*package).json": ["eslint --fix"]
}

chore(node): update repo and github actions to use node 18
  .github/workflows/pull-request.yml
  .nvmrc
  package.json
  yarn.lock
Due: none

chore(actions): do not install husky on CI
  .github/workflows/pull-request.yml
Due: none

chore(modals): refactor file use a single map (#6295)
  packages/blockchain-wallet-v4-frontend/src/data/modals/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/modalsDict.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(wires): show old wire form for non-us users on withdraw (#6301)
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/WithdrawalMethods/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/WithdrawalMethods/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(slice): revert preferences slice file name
  packages/blockchain-wallet-v4-frontend/src/data/actions.ts
  packages/blockchain-wallet-v4-frontend/src/data/preferences/sagaRegister.ts
  packages/blockchain-wallet-v4-frontend/src/data/preferences/slice.ts
  packages/blockchain-wallet-v4-frontend/src/data/rootReducer.ts
  packages/blockchain-wallet-v4-frontend/src/utils/testbed.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

Merge back release 4.98.4 to dev (#6303)
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
  packages/blockchain-wallet-v4-frontend/src/data/analytics/types/onboardingAndVerification.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/WithdrawalMethods/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Home/PriceChart/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(withdraw): put correct code after merge
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/WithdrawalMethods/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

fix(withdraw): put correct code after merge (#6304)
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/WithdrawalMethods/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(Release): v4.98.5
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

Release/v4.98.5 (#6305)
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/WithdrawalMethods/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(refactor): add btc wallet refactor (#6300)
  packages/blockchain-wallet-v4-frontend/src/modals/Btc/AddBtcWallet/index.js
  packages/blockchain-wallet-v4-frontend/src/modals/Btc/AddBtcWallet/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Btc/AddBtcWallet/template.js
  packages/blockchain-wallet-v4-frontend/src/modals/Btc/AddBtcWallet/template.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(refactor): refactor mobile modal & fix phone dropdown (#6294)
  packages/blockchain-wallet-v4-frontend/package.json
  packages/blockchain-wallet-v4-frontend/src/components/Form/PhoneNumberBox/index.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberAdd/index.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberAdd/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberAdd/selectors.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberAdd/template.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberAdd/template.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberChange/index.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberChange/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberChange/selectors.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberChange/template.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberChange/template.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberVerify/index.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberVerify/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberVerify/template.js
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/MobileNumberVerify/template.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/styles.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Mobile/types.ts
  packages/blockchain-wallet-v4-frontend/src/services/forms/validationMessages.js
  packages/blockchain-wallet-v4-frontend/src/services/forms/validators.js
  yarn.lock
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(balances): show balances when they are 0
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Balances/WalletBalance/Balance/index.tsx
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Balances/model.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(refactor): refactor wallet layout
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/Page/index.js
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/WalletLayout/WalletLayout.styles.ts
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/WalletLayout/index.ts
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/WalletLayout/index.tsx
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(refactor): linked payments refactor
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/AccountsStyles.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/ApplePay/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/Bank/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/Card/Card.styles.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/Card/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/GooglePay/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/MobilePayment/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/helpers.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/hooks/index.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/hooks/useCardState/index.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/hooks/useCardState/useCardState.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/hooks/useCardState/useCardState.types.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/Accounts/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/LinkedPaymentAccounts/template.success.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(form): use error returned form BE if available
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/AddBankWireForm/Steps/Failure.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/AddBankWireForm/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(update-finprom-approver): changed text on banner to Englebert ltd
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
  packages/blockchain-wallet-v4-frontend/src/components/Banner/UkFooterBanner/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(update-finprom-approver): updated approval date
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(update-finprom-approver-text): updated finprom approval text from being form Helford to Englebert and updated the date, also update finprom text on prices page
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
  packages/blockchain-wallet-v4-frontend/src/components/Banner/UkFooterBanner/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(Release): v4.98.6
  package.json
Due: none

chore(buySell): refactor upgrade to gold
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpgradeToGold/UpgradeToGold.stories.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpgradeToGold/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpgradeToGold/styles.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpgradeToGold/template.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(buysell): refactor update security code
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpdateSecurityCode/index.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpdateSecurityCode/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/UpdateSecurityCode/types.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(refactor): refactor buy sell autorize
  packages/blockchain-wallet-v4-frontend/src/data/components/brokerage/types.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/Authorize/Authorize.success.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/Authorize/DropDownItem.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/Authorize/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/Authorize/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/Authorize/styles.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(refactor): refactor buy sell kyc required
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/KycRequired/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/KycRequired/template.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(update-finprom-apy-text): updated text on earn, fixed btc anf gyp page date
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/coinApprovalDates.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Earn/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

Release/v4.98.6 (#6315)
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
  packages/blockchain-wallet-v4-frontend/src/components/Banner/UkFooterBanner/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(Release): v4.98.7
  package.json
Due: none

Release/v4.98.7 (#6320)
  package.json
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/coinApprovalDates.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Earn/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

Release/v4.98.00 (#6321)
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

fix(balances): show balances when they are 0 (#6306)
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Balances/WalletBalance/Balance/index.tsx
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Balances/model.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(form): use error returned form BE if available (#6313)
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/AddBankWireForm/Steps/Failure.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/AddBankWireForm/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(Release): v4.98.8
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none
