Repository blockchain/blockchain-wallet-v4-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(earn): update earn compare to be pull coins dynamically
  packages/blockchain-wallet-v4-frontend/src/modals/EarnCompare/EarnComapre.types.ts
  packages/blockchain-wallet-v4-frontend/src/modals/EarnCompare/EarnCompare.model.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/EarnCompare/EarnCompare.selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/EarnCompare/EarnCompare.styles.ts
  packages/blockchain-wallet-v4-frontend/src/modals/EarnCompare/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(wire): show wire bank name instead of user
  packages/blockchain-wallet-v4-frontend/src/components/Flyout/model.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/AddBankWireForm/Steps/Failure.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Settings/General/LinkedWireBanks/template.success.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(active-rewards): remove hardcoded btc values
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/AccountSummary/AccountSummary.template.success.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/DepositSuccess/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/Warning/Warning.template.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/WithdrawalForm/WithdrawalForm.template.success.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/WithdrawalRequested/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(active-rewards): remove warning flyout
  packages/blockchain-info-components/index.d.ts
  packages/blockchain-info-components/src/Icons/ActiveRewardsIcon.js
  packages/blockchain-wallet-v4-frontend/src/data/components/interest/slice.ts
  packages/blockchain-wallet-v4-frontend/src/data/components/interest/types.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/Warning/Warning.selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/Warning/Warning.styles.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/Warning/Warning.template.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/Warning/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/ActiveRewardsLearn/Header/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Earn/Table/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(analytics): update analytics
  packages/blockchain-wallet-v4-frontend/src/scenes/Earn/Table/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(analytics): remove active rewards warning analytic
  packages/blockchain-wallet-v4-frontend/src/data/analytics/types/walletEarnClientEvents.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(Release): v4.98.10
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

chore(Release): v4.98.11
  package.json
Due: none

fix(active-rewards): remove type prop
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/DepositSuccess/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Earn/ActiveRewards/WithdrawalRequested/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(Release): v4.98.12
  package.json
Due: none

chore(changelog): update how changelogs are generated
  .release-it.json
  README.md
  package.json
  yarn.lock
Due: none

feat(deposit): pass missing values
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Deposit/DepositStatus/template.success.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(finproms): added infor for investment risk
  lang/en.json
  packages/blockchain-wallet-v4-frontend/src/scenes/CoinPage/components/CoinPage/CoinPage.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.styles.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/RiskInvestment.styles.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/data.json
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(finproms): show banenr only for UK users
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(cleanup): cleanup of conflicts
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.styles.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(finproms): code improvemnts
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.styles.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(prove): added bcpay prove dedicated link
  packages/blockchain-wallet-v4-frontend/src/scenes/Prove/constants.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Prove/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4/src/redux/walletOptions/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.0
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

chore(release): v4.100.0
  package.json
Due: none

Update packages/blockchain-wallet-v4-frontend/src/scenes/Prove/constants.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/Prove/constants.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

feat(prove): added parametar for a project to check is it bcpay or not
  packages/blockchain-wallet-v4-frontend/src/scenes/Prove/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(prove): fixed typing
  packages/blockchain-wallet-v4-frontend/src/scenes/Prove/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(prove): fixed a product name
  packages/blockchain-wallet-v4-frontend/src/scenes/Prove/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(warn): add message to confirm deposit
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Deposit/Confirm/DepositConfirm.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Deposit/Confirm/MoreInfoContainer.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/model.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(text): update ach text distribution
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Deposit/Confirm/DepositConfirm.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.1
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

fix(text): use BE variable if present for withdrawal lock
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Deposit/Confirm/DepositConfirm.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.2
  package.json
Due: none

feat(prices): redirect uk users to coin on click
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/name.column.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/template.success.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.3
  package.json
Due: none

feat(finprom): coin risk warnings open by default
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/Lines.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/RiskInvestment/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Transactions/model.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(prices): refactor table to collocate redux selectors
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/actions.column.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/balance.column.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/marketCap.column.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/name.column.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/Table/price.column.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/styles.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Prices/template.success.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.4
  package.json
Due: none

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

fix(dex): update zod for quote to handle 0
  packages/blockchain-wallet-v4/src/network/api/dex/schemas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(release): v4.99.5
  package.json
Due: none

fix(dex): remove hardcoded bcdc fee percentage
  packages/blockchain-wallet-v4-frontend/src/scenes/Dex/Swap/components/QuoteDetails/QuoteDetails.tsx
  packages/blockchain-wallet-v4/src/network/api/dex/schemas.ts
  packages/blockchain-wallet-v4/src/network/api/dex/types.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.6
  package.json
Due: none

Path conditions:
  eslint --fix: any of: packages/*/src/**/*.{js,ts,tsx}
  yarn jest --bail --findRelatedTests --passWithNoTests: any of: packages/*/src/**/*.{js,ts,tsx}
  stylelint './packages/*/src/**/*.{js,tsx}': any of: packages/*/src/**/*.{js,tsx}
