Repository blockchain/blockchain-wallet-v4-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

.lintstagedrc.json:

{
  "packages/*/src/**/*.{js,ts,tsx}": ["eslint --fix", "yarn jest --bail --findRelatedTests --passWithNoTests"],
  "packages/*/src/**/*.{js,tsx}": ["stylelint './packages/*/src/**/*.{js,tsx}'"],
  "packages/**/!(*package).json": ["eslint --fix"]
}

feat(replace-mempool-fees): replace mempool/fees endpoint
  packages/blockchain-wallet-v4/src/network/api/bch/index.ts
  packages/blockchain-wallet-v4/src/network/api/btc/index.ts
  packages/blockchain-wallet-v4/src/network/api/eth/index.ts
  packages/blockchain-wallet-v4/src/network/api/xlm/index.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

feat(receive): place alert for TRX
  packages/blockchain-wallet-v4-frontend/src/modals/RequestCrypto/ShowAddress/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/RequestCrypto/ShowAddress/styled.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.7
  package.json
Due: none

chore(release): v4.99.8
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

feat(v5card): add v5 linkout card to homescreen
  config/mocks/wallet-options-v4.json
  packages/blockchain-info-components/src/Colors/DarkMode.ts
  packages/blockchain-info-components/src/Colors/Default.ts
  packages/blockchain-info-components/src/Images/Images.ts
  packages/blockchain-info-components/src/Images/img/arrow-right-circle.svg
  packages/blockchain-info-components/src/Images/img/super-app-icon.svg
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/SuperAppLink/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/SuperAppLink/styles.ts
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/index.tsx
  packages/blockchain-wallet-v4/src/redux/walletOptions/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(non custodial swap): pass depositTxHash to API
  packages/blockchain-wallet-v4-frontend/src/data/components/buySell/sagas.ts
  packages/blockchain-wallet-v4-frontend/src/data/components/interest/sagas.ts
  packages/blockchain-wallet-v4/src/network/api/swap/index.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

fix(superapp-link-out): update cookie and pr comments
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/SuperAppLink/selectors.ts
  packages/blockchain-wallet-v4/src/redux/walletOptions/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(superapp-link): move super app link to components/navbar
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/styles.ts
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/MenuLeft/Navigation/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(super-app-link): add to mobile
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/MobileNav.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(super-app-link): add getOrElse to feature flag selector
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(ach): we are bringing back ability to do ach
  packages/blockchain-wallet-v4-frontend/src/data/components/withdraw/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/data/components/withdraw/slice.ts
  packages/blockchain-wallet-v4-frontend/src/data/components/withdraw/types.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/BankPicker/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/BankPicker/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/BankPicker/template.success.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/EnterAmount/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/EnterAmount/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(rates): removed usage of socket for getting rates
  packages/blockchain-wallet-v4-frontend/codegen.yml
  packages/blockchain-wallet-v4-frontend/src/data/middleware/sagaRegister.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/sagas.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/actionTypes.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/actions.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/rates/actionTypes.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/rates/actions.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/rates/sagaRegister.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/rates/sagas.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/sagaRegister.js
  packages/blockchain-wallet-v4-frontend/src/data/middleware/webSocket/sagas.js
  packages/blockchain-wallet-v4-frontend/src/data/model.ts
  packages/blockchain-wallet-v4-frontend/src/data/modules/actionTypes.ts
  packages/blockchain-wallet-v4-frontend/src/data/modules/actions.ts
  packages/blockchain-wallet-v4-frontend/src/data/modules/profile/sagas.ts
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/actionTypes.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/actions.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/model.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/rates.spec.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/reducers.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/sagaRegister.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/sagas.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/rates/selectors.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/sagaRegister.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/sagas.js
  packages/blockchain-wallet-v4-frontend/src/data/modules/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/data/rootReducer.ts
  packages/blockchain-wallet-v4-frontend/src/data/rootSaga.ts
  packages/blockchain-wallet-v4-frontend/src/middleware/index.js
  packages/blockchain-wallet-v4-frontend/src/middleware/webSocketRates.js
  packages/blockchain-wallet-v4-frontend/src/store/index.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.9
  package.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
Due: none

chore(release): v4.99.10
  package.json
Due: none

feat(v5-routing): update routing for v4-v5
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(v5-routing): assign static redirect for v4-v5
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(v5-routing): update routing
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4-frontend/webpackBuilder.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(v5-routing): add base-line impl for feature-flags
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(getDynamicRoutingWalletV5): add getDynamicRoutingWalletV5 feature flag
  config/mocks/wallet-options-v4.json
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4/src/redux/walletOptions/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(dyanmicRoutingWalletV5): remove unused variable
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(spelling): fix spelling in webpack builder
  packages/blockchain-wallet-v4-frontend/webpackBuilder.js
Due: none

fix(cleanup): Remove deprecated endpoints
  packages/blockchain-wallet-v4/src/network/api/settings/index.js
  packages/blockchain-wallet-v4/src/redux/settings/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(v5-routing): move WALLET_V5_LINK and DYNAMIC_ROUTING_WALLET_V5 to window
  packages/blockchain-wallet-v4-frontend/src/index.html
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4-frontend/webpackBuilder.js
  typings/window.d.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(v5-routing): adjusted routing parameters, moved routing stack
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4-frontend/webpackBuilder.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(feature-flag): remove unused feature flag
  config/mocks/wallet-options-v4.json
  packages/blockchain-wallet-v4/src/redux/walletOptions/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(threshold): update threshold
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(dynamic-routing): remove dynamic routing and only use threshold
  packages/blockchain-wallet-v4-frontend/src/index.html
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4-frontend/webpackBuilder.js
  typings/window.d.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(wallet-v5-link): temporarily use hardcoded value
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.11
  package.json
Due: none

chore(threshold): update threshold to 10 and use v5 link from env variable
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.12
  package.json
Due: none

fix(clang): add domain to setting clang cookie
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.13
  package.json
Due: none

fix(cookies): remove login.blockchain.com opt_out_wallet_v5_ui cookie
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.14
  package.json
Due: none

fix(dynamic-routing): fix tenary for dynamic routing
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.15
  package.json
Due: none

fix(translation-memoization): resolves issue where children of TranslationProvider do not update
  packages/blockchain-wallet-v4-frontend/src/providers/TranslationsProvider/index.js
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.16
  package.json
Due: none
