Repository blockchain/blockchain-wallet-v4-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

.lintstagedrc.json:

{
  "packages/*/src/**/*.{js,ts,tsx}": ["eslint --fix", "yarn jest --bail --findRelatedTests --passWithNoTests"],
  "packages/*/src/**/*.{js,tsx}": ["stylelint './packages/*/src/**/*.{js,tsx}'"],
  "packages/**/!(*package).json": ["eslint --fix"]
}

chore(threshold): update threshold to be 30
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(dynamic-routing): change dynamic-routing to localStorage base
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(dynamic-routing): update dynamic routing to use localstorage instead
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.17
  package.json
Due: none

fix(dynamic-routing): fix opt_out_wallet_v5_ui
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.18
  package.json
Due: none

fix(canary-position): upadte canary position for when canary position doesn't exist
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.19
  package.json
Due: none

feat(buy): added isAsync:true for mobile payment order attributes
  packages/blockchain-wallet-v4-frontend/src/data/components/buySell/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(release): v4.99.20
  package.json
Due: none

chore(add-exchange-login-to): exclusions
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.21
  package.json
Due: none

feat(login-identify-v5): add login identify local storage value
  packages/blockchain-wallet-v4-frontend/src/data/auth/sagas.ts
  packages/blockchain-wallet-v4-frontend/src/data/goals/sagas.ts
  packages/blockchain-wallet-v4-frontend/src/data/session/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

fix(login-identify-v5): move guid store outside of if statement
  packages/blockchain-wallet-v4-frontend/src/data/auth/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(release): v4.99.22
  package.json
Due: none

chore(excluded-paths): add two factor and prove to excluded paths
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.99.23
  package.json
Due: none

chore(apple): domain verification for staging
  .well-known/apple-developer-merchantid-domain-association
  .well-known/apple-developer-merchantid-domain-association.txt
Due: none

Revert "chore(apple): domain verification for staging"
  .well-known/apple-developer-merchantid-domain-association
  .well-known/apple-developer-merchantid-domain-association.txt
Due: none

feat/update-seedphrase-lang: updated language for mnemonic recovery phrases
  lang/en.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/defaultMessages.json
  packages/blockchain-wallet-v4-frontend/src/assets/locales/en.json
  packages/blockchain-wallet-v4-frontend/src/components/Alerts/messages.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Eth/TransferEth/template.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Settings/RecoveryPhrase/RecoveryPhraseIntro/index.tsx
  packages/blockchain-wallet-v4-frontend/src/modals/Settings/RecoveryPhrase/ShowRecoveryWords/template.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/Help/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/RecoverWallet/RecoveryPhrase/FirstStep/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/RecoverWallet/model.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/SecurityCenter/AdvancedSecurity/SecondPasswordWallet/Settings/template.js
  packages/blockchain-wallet-v4-frontend/src/scenes/SecurityCenter/AdvancedSecurity/WalletPassword/template.js
  packages/blockchain-wallet-v4-frontend/src/scenes/SecurityCenter/BasicSecurity/WalletRecoveryPhrase/template.js
  packages/blockchain-wallet-v4-frontend/src/scenes/SecurityCenter/template.js
  packages/blockchain-wallet-v4-frontend/src/scenes/Settings/Addresses/Bch/ImportedAddresses/template.js
  packages/blockchain-wallet-v4-frontend/src/scenes/Settings/Addresses/Btc/ImportedAddresses/template.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/TwoStepVerification/model.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(apple): add Apple merchantID certificate for staging
  .well-known/apple-developer-merchantid-domain-association
  .well-known/apple-developer-merchantid-domain-association.txt.staging
Due: none

feat(opt-out-date): add opt out date to localStorage
  packages/blockchain-wallet-v4-frontend/src/components/Navbar/SuperAppLink/index.tsx
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(apple-pay-country): update attributes to take in countryCode instead of country
  packages/blockchain-wallet-v4-frontend/src/data/components/buySell/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(release): v4.99.24
  package.json
Due: none

chore(release): v4.99.25
  package.json
Due: none

chore(apple-pay): update staging certificate
  .well-known/apple-developer-merchantid-domain-association.txt.staging
Due: none

Updates
  README.md
Due: none

feat(pep): add dob field
  packages/blockchain-wallet-v4-frontend/src/modals/Onboarding/KycVerification/ExtraFields/template.success.tsx
  packages/blockchain-wallet-v4/src/network/api/kyc/types.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(kyc): handle isUS prop
  packages/blockchain-wallet-v4-frontend/src/modals/Onboarding/KycVerification/ExtraFields/template.success.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(withdraw): added logic to use properly selected withdrawal method
  packages/blockchain-wallet-v4-frontend/src/modals/Brokerage/Banks/Withdraw/EnterAmount/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat/update-exclusions-for-staging-only: updated exclusion list to test routes in staging in v5
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

remove hash func
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

update env check
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

move consts
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix/use-host-name: remove env check
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fixed host name
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(redirect-casong): fixed lowercase issue
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'
