Repository blockchain/blockchain-wallet-v4-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(redirect-casong): fixed lowercase issue
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat/add-deeplink-to-staging-and-fix-legacy: fixed legacy redirect and added deeplink to staging v5
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat/add-deeplink-to-staging-and-fix-legacy: updated hash function
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.100.0
  package.json
Due: none

chore(release): v4.101.0
  package.json
Due: none

add open route to exclusions
  packages/blockchain-wallet-v4-frontend/src/data/components/sendBtc/sagas.ts
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
  packages/blockchain-wallet-v4/src/redux/data/eth/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

add open route to exclusions
  packages/blockchain-wallet-v4-frontend/src/data/components/sendBtc/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(release): v4.99.26
  package.json
Due: none

chore(apple-pay): update merchant id certificate for staging
  .well-known/apple-developer-merchantid-domain-association.txt.staging
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Revert "Update CODEOWNERS"
  .github/CODEOWNERS
Due: none

feat/bump-canary: bump to 60
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.101.1
  package.json
Due: none

Revert "chore(release): v4.101.1"
  package.json
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

fix(checksum): add checksum
  packages/blockchain-wallet-v4/src/types/Wrapper.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix(checksum-payload): add additional check for Crypto
  packages/blockchain-wallet-v4/src/types/Wrapper.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.101.2
  package.json
Due: none

fix(swap-coinselector): filter out undefined coin accounts
  packages/blockchain-wallet-v4-frontend/src/modals/Swap/CoinSelection/selectors.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

chore(release): v4.101.3
  package.json
Due: none

feat/bitpay-tracking: added events to track bitpay usage
  packages/blockchain-wallet-v4-frontend/src/data/analytics/types/misc.ts
  packages/blockchain-wallet-v4-frontend/src/data/components/sendBtc/sagas.ts
  packages/blockchain-wallet-v4-frontend/src/data/goals/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

feat/bitpay-tracking: added events to track bitpay usage
  packages/blockchain-wallet-v4-frontend/src/data/components/sendBch/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

feat/bitpay-tracking: added events to track bitpay usage
  packages/blockchain-wallet-v4-frontend/src/data/analytics/types/misc.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

Update sagas.ts
  packages/blockchain-wallet-v4-frontend/src/data/components/sendBtc/sagas.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests

fix(login-tfa): Change crypto implementation used in 2FA.
  packages/blockchain-wallet-v4/src/types/Wrapper.js
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.101.4
  package.json
Due: none

chore(zendesk): consolidate code
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/SupportChatForGoldUserOnly/SupportChatForGoldUserOnly.tsx
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/SupportChatForGoldUserOnly/SupportChatForGoldUserOnly.types.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/SupportChatForGoldUserOnly/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/SupportChatForGoldUserOnly/index.tsx
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/ZendeskIframe/ZendeskIframe.types.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/ZendeskIframe/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/ZendeskIframe/index.tsx
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/components/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChat/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChat/useSupportChat.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChat/useSupportChat.types.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatAvailability/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatAvailability/useSupportChatAvailability.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatAvailability/useSupportChatAvailability.types.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatMessage/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatMessage/useSupportChatMessage.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatMessage/useSupportChatMessage.types.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatOpenState/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatOpenState/useSupportChatOpenState.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/hooks/useSupportChatOpenState/useSupportChatOpenState.types.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/index.tsx
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/utils/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/utils/waitForIframeContentToLoad/index.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/utils/waitForIframeContentToLoad/waitForIframeContentToLoad.ts
  packages/blockchain-wallet-v4-frontend/src/components/SupportChat/utils/waitForIframeContentToLoad/waitForIframeContentToLoad.types.ts
  packages/blockchain-wallet-v4-frontend/src/layouts/Wallet/WalletLayout/index.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat/100=percent: set threshold to 100
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.101.5
  package.json
Due: none

feat(meme): hide meme coins from supported list
  packages/blockchain-wallet-v4-frontend/src/components/Form/SelectBoxCoin/selectors.ts
  packages/blockchain-wallet-v4-frontend/src/modals/BuySell/CheckoutConfirm/models/quoteSummaryViewModel.test.ts
  packages/blockchain-wallet-v4-frontend/src/modals/Swap/EnterAmount/test-utils/makeCoinfig.ts
  packages/blockchain-wallet-v4-frontend/src/store/worker.assets.js
  packages/blockchain-wallet-v4/src/redux/data/coins/selectors.spec.ts
  packages/blockchain-wallet-v4/src/redux/walletOptions/types.ts
  typings/window.d.ts
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(update-exclusions): updated prod exclusions
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat/update-staging-exclusions-prove: added instant-link to v5 in staging
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat/update-exclusions-exchange: added suspected exchange routes
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

chore(release): v4.101.6
  package.json
Due: none

chore(release): v4.101.7
  package.json
Due: none

Revert "feat/update-exclusions-exchange: added suspected exchange routes"
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix/auth-redirect: added /auth
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

fix/exclusions-sofi: added hash
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

feat(sofi): remove exclusion routing for sofi
  packages/blockchain-wallet-v4-frontend/src/scenes/app.tsx
Due: eslint --fix, yarn jest --bail --findRelatedTests --passWithNoTests, stylelint './packages/*/src/**/*.{js,tsx}'

Path conditions:
  eslint --fix: any of: packages/*/src/**/*.{js,ts,tsx}
  yarn jest --bail --findRelatedTests --passWithNoTests: any of: packages/*/src/**/*.{js,ts,tsx}
  stylelint './packages/*/src/**/*.{js,tsx}': any of: packages/*/src/**/*.{js,tsx}
